{{> top.hbs}}

<div class="jumbotron">

    <div class="container">

        <form method="post">

            <button type="submit" class="btn btn-default">Save Changes</button>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}">
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}">
            </div>
            <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{middle_name}}">
            </div>

            Bank Accounts
            <div id="banks-div">
                {{#each banks}}
                <div>
                    <input type="hidden" name="banks-{{@index}}" value="true">
                    <div class="form-group">
                        <label for="banks-{{@index}}-name">Bank Name</label>
                        <input class="form-control" id="banks-{{@index}}-name" name="banks-{{@index}}-name" type="text" value="{{this.name}}">
                    </div>
                    <div class="form-group">
                        <label for="banks-{{@index}}-address">Bank Address</label>
                        <input class="form-control" id="banks-{{@index}}-address" name="banks-{{@index}}-address" type="text" value="{{this.address}}">
                    </div>
                    <div class="form-group">
                        <label for="banks-{{@index}}-account_number">Account Number</label>
                        <input class="form-control" id="banks-{{@index}}-account_number" name="banks-{{@index}}-account_number" type="text" value="{{this.account_number}}">
                    </div>
                    <!-- button to delete this bank account -->
                </div>
                {{else}}
                    <!-- no banks -->
                {{/each}}
            </div>
            <!-- button to add a new bank account -->


            <button type="submit" class="btn btn-default">Save Changes</button>
        </form>
    </div>
</div>


{{> bottom.hbs}}